/* .card {
  border: 1px solid rgb(161, 139, 139);
  border-radius: 10px;
  max-width: 200px;
  padding: 20px;
  margin: 30px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgb(141, 140, 140);

}

.card-image {
  width: 180px;
  height: 190px;
  border-radius: 50%;

}

.card-title {
  font-family: Arial, sans-serif;
  color: rgb(85, 82, 82);
  margin: 10px;
}

.card-text {
  font-family: Arial, sans-serif;
  color: rgb(63, 63, 63);
  margin: 10px;
} */

/* 
.button{
 background-color: rgb(90, 17, 237);
 color: white;
 text-align: center;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
 align-items: center;
 border: none;
 
} */
/* 
.student{
  border: 1px solid rgb(142, 130, 130);
  font-size: 20px;
  color: rgb(111, 106, 106);
  width: 200px;
  padding: 10px;
  margin: 10px;
  box-shadow: 10px 10px 10px rgb(142, 139, 139);
} */



